<%= form_for @identity, :url => edit_password_reset_path(:username => params[:username], :reset_token => params[:reset_token]) do |f| %>
  <p>
    <%= f.label :password %>
    <%= f.text_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %>
    <%= f.text_field :password_confirmation %>
  </p>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>
